:root {
	--font-family: 'Komika Axis';
	--font-shadow: 2px 2px black, 2px -2px black, -2px 2px black, -2px -2px black;
	--font-small: 18px;
	--font-medium: 24px;
	--font-large: 30px;
	
	--fast-speed: 0.25s;
	--slow-speed: 0.5s;
}

body {
	color: var(--font-color);
	font-family: var(--font-family);
	text-shadow: var(--font-shadow);
//	overflow: hidden;
}

.small { font-size: var(--font-small); }
.medium { font-size: var(--font-medium); }
.large { font-size: var(--font-large); }

.slow { transition: all var(--slow-speed) ease-out; }
.fast { transition: all var(--fast-speed) ease-in; }

.colorB { background: var(--border-color); }
.color1 { background: var(--main-color1); }
.color2 { background: var(--main-color2); }
.color3 { background: var(--main-color3); }