.round
{
	position: absolute;
	top: 0;
	width: 300px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	
	clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}
.round { left: 810px; }

.players
{
    position: absolute;
    top: 0;
    width: 650px;
    height: 40px;
    line-height: 40px;
    text-align: center;

    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
}
.players.p1 { left: 120px; }
.players.p2 { right: 120px; }

.scores
{
    position: absolute;
    top: 0;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;

    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}
.scores.s1 { left: 50px; }
.scores.s2 { right: 50px; }

.wins
{
	position: absolute;
    top: 0;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;

    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}
.wins.w1 {left: 740px; }
.wins.w2 {right: 740px; }

.hidden { top: -40px !important; }

.countries { 
	position: absolute; 
	top: 0; 
}
.countries.c1 { left: 170px; }
.countries.c2 { right: 170px; }

.flag
{
    width: 100px;
    height: 40px;
    background-position: center;
    background-size: 100%;
}
.flag.AD { background-image: url('http://data.8wr.io/sba/238/flags/ad.png'); }
.flag.AE { background-image: url('http://data.8wr.io/sba/238/flags/ae.png'); }
.flag.AF { background-image: url('http://data.8wr.io/sba/238/flags/af.png'); }
.flag.AG { background-image: url('http://data.8wr.io/sba/238/flags/ag.png'); }
.flag.AL { background-image: url('http://data.8wr.io/sba/238/flags/al.png'); }
.flag.AM { background-image: url('http://data.8wr.io/sba/238/flags/am.png'); }
.flag.AO { background-image: url('http://data.8wr.io/sba/238/flags/ao.png'); }
.flag.AR { background-image: url('http://data.8wr.io/sba/238/flags/ar.png'); }
.flag.AT { background-image: url('http://data.8wr.io/sba/238/flags/at.png'); }
.flag.AU { background-image: url('http://data.8wr.io/sba/238/flags/au.png'); }
.flag.AZ { background-image: url('http://data.8wr.io/sba/238/flags/az.png'); }
.flag.BA { background-image: url('http://data.8wr.io/sba/238/flags/ba.png'); }
.flag.BB { background-image: url('http://data.8wr.io/sba/238/flags/bb.png'); }
.flag.BD { background-image: url('http://data.8wr.io/sba/238/flags/bd.png'); }
.flag.BE { background-image: url('http://data.8wr.io/sba/238/flags/be.png'); }
.flag.BF { background-image: url('http://data.8wr.io/sba/238/flags/bf.png'); }
.flag.BG { background-image: url('http://data.8wr.io/sba/238/flags/bg.png'); }
.flag.BH { background-image: url('http://data.8wr.io/sba/238/flags/bh.png'); }
.flag.BI { background-image: url('http://data.8wr.io/sba/238/flags/bi.png'); }
.flag.BJ { background-image: url('http://data.8wr.io/sba/238/flags/bj.png'); }
.flag.BN { background-image: url('http://data.8wr.io/sba/238/flags/bn.png'); }
.flag.BO { background-image: url('http://data.8wr.io/sba/238/flags/bo.png'); }
.flag.BR { background-image: url('http://data.8wr.io/sba/238/flags/br.png'); }
.flag.BS { background-image: url('http://data.8wr.io/sba/238/flags/bs.png'); }
.flag.BT { background-image: url('http://data.8wr.io/sba/238/flags/bt.png'); }
.flag.BW { background-image: url('http://data.8wr.io/sba/238/flags/bw.png'); }
.flag.BY { background-image: url('http://data.8wr.io/sba/238/flags/by.png'); }
.flag.BZ { background-image: url('http://data.8wr.io/sba/238/flags/bz.png'); }
.flag.CA { background-image: url('http://data.8wr.io/sba/238/flags/ca.png'); }
.flag.CD { background-image: url('http://data.8wr.io/sba/238/flags/cd.png'); }
.flag.CF { background-image: url('http://data.8wr.io/sba/238/flags/cf.png'); }
.flag.CG { background-image: url('http://data.8wr.io/sba/238/flags/cg.png'); }
.flag.CH { background-image: url('http://data.8wr.io/sba/238/flags/ch.png'); }
.flag.CI { background-image: url('http://data.8wr.io/sba/238/flags/ci.png'); }
.flag.CL { background-image: url('http://data.8wr.io/sba/238/flags/cl.png'); }
.flag.CM { background-image: url('http://data.8wr.io/sba/238/flags/cm.png'); }
.flag.CN { background-image: url('http://data.8wr.io/sba/238/flags/cn.png'); }
.flag.CO { background-image: url('http://data.8wr.io/sba/238/flags/co.png'); }
.flag.CR { background-image: url('http://data.8wr.io/sba/238/flags/cr.png'); }
.flag.CU { background-image: url('http://data.8wr.io/sba/238/flags/cu.png'); }
.flag.CV { background-image: url('http://data.8wr.io/sba/238/flags/cv.png'); }
.flag.CY { background-image: url('http://data.8wr.io/sba/238/flags/cy.png'); }
.flag.CZ { background-image: url('http://data.8wr.io/sba/238/flags/cz.png'); }
.flag.DE { background-image: url('http://data.8wr.io/sba/238/flags/de.png'); }
.flag.DJ { background-image: url('http://data.8wr.io/sba/238/flags/dj.png'); }
.flag.DK { background-image: url('http://data.8wr.io/sba/238/flags/dk.png'); }
.flag.DM { background-image: url('http://data.8wr.io/sba/238/flags/dm.png'); }
.flag.DO { background-image: url('http://data.8wr.io/sba/238/flags/do.png'); }
.flag.DZ { background-image: url('http://data.8wr.io/sba/238/flags/dz.png'); }
.flag.EC { background-image: url('http://data.8wr.io/sba/238/flags/ec.png'); }
.flag.EE { background-image: url('http://data.8wr.io/sba/238/flags/ee.png'); }
.flag.EG { background-image: url('http://data.8wr.io/sba/238/flags/eg.png'); }
.flag.EH { background-image: url('http://data.8wr.io/sba/238/flags/eh.png'); }
.flag.ER { background-image: url('http://data.8wr.io/sba/238/flags/er.png'); }
.flag.ES { background-image: url('http://data.8wr.io/sba/238/flags/es.png'); }
.flag.ET { background-image: url('http://data.8wr.io/sba/238/flags/et.png'); }
.flag.FI { background-image: url('http://data.8wr.io/sba/238/flags/fi.png'); }
.flag.AJ { background-image: url('http://data.8wr.io/sba/238/flags/aj.png'); }
.flag.FM { background-image: url('http://data.8wr.io/sba/238/flags/fm.png'); }
.flag.FR { background-image: url('http://data.8wr.io/sba/238/flags/fr.png'); }
.flag.GA { background-image: url('http://data.8wr.io/sba/238/flags/ga.png'); }
.flag.GB { background-image: url('http://data.8wr.io/sba/238/flags/gb.png'); }
.flag.GD { background-image: url('http://data.8wr.io/sba/238/flags/gd.png'); }
.flag.GE { background-image: url('http://data.8wr.io/sba/238/flags/ge.png'); }
.flag.GH { background-image: url('http://data.8wr.io/sba/238/flags/gh.png'); }
.flag.GM { background-image: url('http://data.8wr.io/sba/238/flags/gm.png'); }
.flag.GN { background-image: url('http://data.8wr.io/sba/238/flags/gn.png'); }
.flag.GP { background-image: url('http://data.8wr.io/sba/238/flags/gp.png'); }
.flag.GR { background-image: url('http://data.8wr.io/sba/238/flags/gr.png'); }
.flag.GT { background-image: url('http://data.8wr.io/sba/238/flags/gt.png'); }
.flag.GW { background-image: url('http://data.8wr.io/sba/238/flags/gw.png'); }
.flag.GY { background-image: url('http://data.8wr.io/sba/238/flags/gy.png'); }
.flag.HN { background-image: url('http://data.8wr.io/sba/238/flags/hn.png'); }
.flag.HR { background-image: url('http://data.8wr.io/sba/238/flags/hr.png'); }
.flag.HT { background-image: url('http://data.8wr.io/sba/238/flags/ht.png'); }
.flag.HU { background-image: url('http://data.8wr.io/sba/238/flags/hu.png'); }
.flag.ID { background-image: url('http://data.8wr.io/sba/238/flags/id.png'); }
.flag.IE { background-image: url('http://data.8wr.io/sba/238/flags/ie.png'); }
.flag.IL { background-image: url('http://data.8wr.io/sba/238/flags/il.png'); }
.flag.IN { background-image: url('http://data.8wr.io/sba/238/flags/in.png'); }
.flag.IQ { background-image: url('http://data.8wr.io/sba/238/flags/iq.png'); }
.flag.IR { background-image: url('http://data.8wr.io/sba/238/flags/ir.png'); }
.flag.IS { background-image: url('http://data.8wr.io/sba/238/flags/is.png'); }
.flag.IT { background-image: url('http://data.8wr.io/sba/238/flags/it.png'); }
.flag.JM { background-image: url('http://data.8wr.io/sba/238/flags/jm.png'); }
.flag.JO { background-image: url('http://data.8wr.io/sba/238/flags/jo.png'); }
.flag.JP { background-image: url('http://data.8wr.io/sba/238/flags/jp.png'); }
.flag.KE { background-image: url('http://data.8wr.io/sba/238/flags/ke.png'); }
.flag.KG { background-image: url('http://data.8wr.io/sba/238/flags/kg.png'); }
.flag.KH { background-image: url('http://data.8wr.io/sba/238/flags/kh.png'); }
.flag.KI { background-image: url('http://data.8wr.io/sba/238/flags/ki.png'); }
.flag.KM { background-image: url('http://data.8wr.io/sba/238/flags/km.png'); }
.flag.KN { background-image: url('http://data.8wr.io/sba/238/flags/kn.png'); }
.flag.KP { background-image: url('http://data.8wr.io/sba/238/flags/kp.png'); }
.flag.KR { background-image: url('http://data.8wr.io/sba/238/flags/kr.png'); }
.flag.KS { background-image: url('http://data.8wr.io/sba/238/flags/ks.png'); }
.flag.KW { background-image: url('http://data.8wr.io/sba/238/flags/kw.png'); }
.flag.KZ { background-image: url('http://data.8wr.io/sba/238/flags/kz.png'); }
.flag.LA { background-image: url('http://data.8wr.io/sba/238/flags/la.png'); }
.flag.LB { background-image: url('http://data.8wr.io/sba/238/flags/lb.png'); }
.flag.LC { background-image: url('http://data.8wr.io/sba/238/flags/lc.png'); }
.flag.LI { background-image: url('http://data.8wr.io/sba/238/flags/li.png'); }
.flag.LK { background-image: url('http://data.8wr.io/sba/238/flags/lk.png'); }
.flag.LR { background-image: url('http://data.8wr.io/sba/238/flags/lr.png'); }
.flag.LS { background-image: url('http://data.8wr.io/sba/238/flags/ls.png'); }
.flag.LT { background-image: url('http://data.8wr.io/sba/238/flags/lt.png'); }
.flag.LU { background-image: url('http://data.8wr.io/sba/238/flags/lu.png'); }
.flag.LV { background-image: url('http://data.8wr.io/sba/238/flags/lv.png'); }
.flag.LY { background-image: url('http://data.8wr.io/sba/238/flags/ly.png'); }
.flag.MA { background-image: url('http://data.8wr.io/sba/238/flags/ma.png'); }
.flag.MC { background-image: url('http://data.8wr.io/sba/238/flags/mc.png'); }
.flag.MD { background-image: url('http://data.8wr.io/sba/238/flags/md.png'); }
.flag.ME { background-image: url('http://data.8wr.io/sba/238/flags/me.png'); }
.flag.MG { background-image: url('http://data.8wr.io/sba/238/flags/mg.png'); }
.flag.MH { background-image: url('http://data.8wr.io/sba/238/flags/mh.png'); }
.flag.MK { background-image: url('http://data.8wr.io/sba/238/flags/mk.png'); }
.flag.ML { background-image: url('http://data.8wr.io/sba/238/flags/ml.png'); }
.flag.MM { background-image: url('http://data.8wr.io/sba/238/flags/mm.png'); }
.flag.MN { background-image: url('http://data.8wr.io/sba/238/flags/mn.png'); }
.flag.MR { background-image: url('http://data.8wr.io/sba/238/flags/mr.png'); }
.flag.MT { background-image: url('http://data.8wr.io/sba/238/flags/mt.png'); }
.flag.MU { background-image: url('http://data.8wr.io/sba/238/flags/mu.png'); }
.flag.MV { background-image: url('http://data.8wr.io/sba/238/flags/mv.png'); }
.flag.MW { background-image: url('http://data.8wr.io/sba/238/flags/mw.png'); }
.flag.MX { background-image: url('http://data.8wr.io/sba/238/flags/mx.png'); }
.flag.MY { background-image: url('http://data.8wr.io/sba/238/flags/my.png'); }
.flag.MZ { background-image: url('http://data.8wr.io/sba/238/flags/mz.png'); }
.flag.NA { background-image: url('http://data.8wr.io/sba/238/flags/na.png'); }
.flag.NE { background-image: url('http://data.8wr.io/sba/238/flags/ne.png'); }
.flag.NG { background-image: url('http://data.8wr.io/sba/238/flags/ng.png'); }
.flag.NI { background-image: url('http://data.8wr.io/sba/238/flags/ni.png'); }
.flag.NL { background-image: url('http://data.8wr.io/sba/238/flags/nl.png'); }
.flag.NO { background-image: url('http://data.8wr.io/sba/238/flags/no.png'); }
.flag.NP { background-image: url('http://data.8wr.io/sba/238/flags/np.png'); }
.flag.NR { background-image: url('http://data.8wr.io/sba/238/flags/nr.png'); }
.flag.NZ { background-image: url('http://data.8wr.io/sba/238/flags/nz.png'); }
.flag.OM { background-image: url('http://data.8wr.io/sba/238/flags/om.png'); }
.flag.PA { background-image: url('http://data.8wr.io/sba/238/flags/pa.png'); }
.flag.PE { background-image: url('http://data.8wr.io/sba/238/flags/pe.png'); }
.flag.PG { background-image: url('http://data.8wr.io/sba/238/flags/pg.png'); }
.flag.PH { background-image: url('http://data.8wr.io/sba/238/flags/ph.png'); }
.flag.PK { background-image: url('http://data.8wr.io/sba/238/flags/pk.png'); }
.flag.PL { background-image: url('http://data.8wr.io/sba/238/flags/pl.png'); }
.flag.PT { background-image: url('http://data.8wr.io/sba/238/flags/pt.png'); }
.flag.PW { background-image: url('http://data.8wr.io/sba/238/flags/pw.png'); }
.flag.PY { background-image: url('http://data.8wr.io/sba/238/flags/py.png'); }
.flag.QA { background-image: url('http://data.8wr.io/sba/238/flags/qa.png'); }
.flag.RO { background-image: url('http://data.8wr.io/sba/238/flags/ro.png'); }
.flag.RS { background-image: url('http://data.8wr.io/sba/238/flags/rs.png'); }
.flag.RU { background-image: url('http://data.8wr.io/sba/238/flags/ru.png'); }
.flag.RW { background-image: url('http://data.8wr.io/sba/238/flags/rw.png'); }
.flag.SA { background-image: url('http://data.8wr.io/sba/238/flags/sa.png'); }
.flag.SB { background-image: url('http://data.8wr.io/sba/238/flags/sb.png'); }
.flag.SC { background-image: url('http://data.8wr.io/sba/238/flags/sc.png'); }
.flag.SD { background-image: url('http://data.8wr.io/sba/238/flags/sd.png'); }
.flag.SE { background-image: url('http://data.8wr.io/sba/238/flags/se.png'); }
.flag.SG { background-image: url('http://data.8wr.io/sba/238/flags/sg.png'); }
.flag.SI { background-image: url('http://data.8wr.io/sba/238/flags/si.png'); }
.flag.SK { background-image: url('http://data.8wr.io/sba/238/flags/sk.png'); }
.flag.SL { background-image: url('http://data.8wr.io/sba/238/flags/sl.png'); }
.flag.SM { background-image: url('http://data.8wr.io/sba/238/flags/sm.png'); }
.flag.SN { background-image: url('http://data.8wr.io/sba/238/flags/sn.png'); }
.flag.SO { background-image: url('http://data.8wr.io/sba/238/flags/so.png'); }
.flag.SR { background-image: url('http://data.8wr.io/sba/238/flags/sr.png'); }
.flag.ST { background-image: url('http://data.8wr.io/sba/238/flags/st.png'); }
.flag.SV { background-image: url('http://data.8wr.io/sba/238/flags/sv.png'); }
.flag.SY { background-image: url('http://data.8wr.io/sba/238/flags/sy.png'); }
.flag.SZ { background-image: url('http://data.8wr.io/sba/238/flags/sz.png'); }
.flag.TD { background-image: url('http://data.8wr.io/sba/238/flags/td.png'); }
.flag.TG { background-image: url('http://data.8wr.io/sba/238/flags/tg.png'); }
.flag.TH { background-image: url('http://data.8wr.io/sba/238/flags/th.png'); }
.flag.TJ { background-image: url('http://data.8wr.io/sba/238/flags/tj.png'); }
.flag.TL { background-image: url('http://data.8wr.io/sba/238/flags/tl.png'); }
.flag.TM { background-image: url('http://data.8wr.io/sba/238/flags/tm.png'); }
.flag.TN { background-image: url('http://data.8wr.io/sba/238/flags/tn.png'); }
.flag.TO { background-image: url('http://data.8wr.io/sba/238/flags/to.png'); }
.flag.TR { background-image: url('http://data.8wr.io/sba/238/flags/tr.png'); }
.flag.TT { background-image: url('http://data.8wr.io/sba/238/flags/tt.png'); }
.flag.TV { background-image: url('http://data.8wr.io/sba/238/flags/tv.png'); }
.flag.TW { background-image: url('http://data.8wr.io/sba/238/flags/tw.png'); }
.flag.TZ { background-image: url('http://data.8wr.io/sba/238/flags/tz.png'); }
.flag.UA { background-image: url('http://data.8wr.io/sba/238/flags/ua.png'); }
.flag.UG { background-image: url('http://data.8wr.io/sba/238/flags/ug.png'); }
.flag.US { background-image: url('http://data.8wr.io/sba/238/flags/us.png'); }
.flag.UY { background-image: url('http://data.8wr.io/sba/238/flags/uy.png'); }
.flag.UZ { background-image: url('http://data.8wr.io/sba/238/flags/uz.png'); }
.flag.VA { background-image: url('http://data.8wr.io/sba/238/flags/va.png'); }
.flag.VC { background-image: url('http://data.8wr.io/sba/238/flags/vc.png'); }
.flag.VE { background-image: url('http://data.8wr.io/sba/238/flags/ve.png'); }
.flag.VN { background-image: url('http://data.8wr.io/sba/238/flags/vn.png'); }
.flag.VU { background-image: url('http://data.8wr.io/sba/238/flags/vu.png'); }
.flag.WS { background-image: url('http://data.8wr.io/sba/238/flags/ws.png'); }
.flag.YE { background-image: url('http://data.8wr.io/sba/238/flags/ye.png'); }
.flag.ZA { background-image: url('http://data.8wr.io/sba/238/flags/za.png'); }
.flag.ZM { background-image: url('http://data.8wr.io/sba/238/flags/zm.png'); }
.flag.ZW { background-image: url('http://data.8wr.io/sba/238/flags/zw.png'); )