.event
{
    position: absolute;
    bottom: 0;
    width: 780px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    
//  background-image: url("http://data.8wr.io/sba/238/stream/test.png");
    
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
}
.event.e1 { left: 50px; }
.event.e2 { right: 50px; }

.timer
{
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    left: 810px;
    
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.hidden { bottom: -60px; }